.switch {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 50%;

  a {
    color: white;
    display: block;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 2em 4em;
    text-align: center;
    text-transform: uppercase;
    width: 33%;

    &.on {
      border: 2px solid darken(green, 10%);
      background-color: green;

      &.active {
        background-color: lighten(green, 10%);
      }
    }

    &.off {
      border: 2px solid darken(red, 10%);
      background-color: red;

      &.active {
        background-color: lighten(red, 10%);
      }
    }
  }
}