<div class="switch">
  <span class="name">{{name}}</span>
  <div class="switch">
    <a class="on" (click)="click(true)" [class.active]="switchState">Aan</a>
    <a class="off" (click)="click(false)" [class.active]="!switchState">Uit</a>
  </div>
</div>